@import './variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100px;
    padding: 2.2em 0;
    background: rgba(16, 16, 29, .9);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: $Medium-l) {
        
        height: 80px;
        padding: 1.6em;
    }

    @media screen and (max-width: $Small) {
        height: 74px;
        padding: 1.42em 0;
    }
}

.header__logo {

    &__link {
        font-family: Raleway, sans-serif;
        font-size: 1.75em;
        font-weight: 800;
        line-height: 1.1739;
        text-transform: uppercase;
        color: $light;

        &--blue {
            color: $blue-secondary;
        }

        @media screen and (max-width: $Small) {
            font-size: 1.45em;
            line-height: initial;
        }
    }
}

.header__nav {
    @media screen and (max-width: $Medium) {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $light;
        transition: all .3s;
    }

    &.is-open {
        left: 0;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -.55em;

    &__item {
        margin-right: 2.875em;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link {
        padding: .55em;
        font-size: .8125em;
        text-transform: uppercase;
        color: $light;
        transition: color .3s;

        &:active,
        &:focus {
            color: #2a6e9b;
        }

        &:hover {
            color: #43abf0;
        }
    }

    &--current {
        color: #43abf0;
    }

    @media screen and (max-width: $Medium) {
        flex-direction: column;
        margin: auto;

        &__item {
            margin-right: 0;
        }

        &__link {
            font-size: 1.5em;
            line-height: 3;
            text-align: center;
            color: $dark;
        }

        &--current {
            color: #43abf0;
        }
    }
}