// colors

$light: #fff;
$light-alpha: rgba(255, 255, 255, .85);

$dark: #000;
$dark-secondary: #272733;
$dark-grey: #3d4050;
$dark-btn: #2a2b30;
$dark-border: #6f6d7b;

$grey: #bbb;
$grey-light: #c3c3c3;

$blue: #3e9cdc;
$blue-secondary: #42a9ed;
$blue-dark: #286690;


// media queries

$Large-l: 1600px;
$Large: 1366px;
$Large-s: 1200px;
$Medium-l: 1024px;
$Medium: 900px;
$Medium-s: 768px;
$Small-l: 600px;
$Small: 480px;
$Small-s: 414px;
$Small-xs: 360px;